<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">


		<bean id="l" class="problem3.lunch"/>
		<bean id="d" class="problem3.dinner"/>
		<bean id="b" class="problem3.breakfast"/>
		
		<bean id="eat" class="problem3.Eat">
			<constructor-arg  name ="cd" ref="l"/>
		</bean>
</beans>